/output/
/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
/etc/ivy/ivy.jar
/service/
/servicebundle/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
/etc/launcher-configuration.ini
/etc/pastry.properties
/etc/i5.las2peer.services.socialBotManagerService.SocialBotManagerService.properties
/social-bot-manager/.classpath
/social-bot-manager/.project
/social-bot-manager/.settings/
/social-bot-manager/output/
/social-bot-manager/export/
/social-bot-manager/node-storage/
/.settings/
*.secret
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
archiva_credentials.xml
.vscode/settings.json
.settings/org.eclipse.buildship.core.prefs
bin/start_network.bat
bin/start_network.sh
.project
mysql